doctype html
html(lang='en')
  head
    title Chatterbox
    // Include Roboto font from Google Fonts.
    link(href='https://fonts.googleapis.com/css?family=Roboto', rel='stylesheet', type='text/css')

    // Include jQuery.
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")

    // Include Bootstrap.
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js", integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS", crossorigin="anonymous")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin="anonymous")

    // Include Font Awesome.
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css", rel="stylesheet", type="text/css")

    // Include custom styles.
    link(href='/assets/style.css', rel='stylesheet', type='text/css')

    // Include Socket.io.
    script(src='/socket.io/socket.io.js')

    // Include custom scripts.
    script(src="/assets/client.js")
  block body
    #sidebar
      h1 cb
      #icons
        a#openchatdrawer(href="" class="icon" data-toggle="tooltip" data-placement="right" title="Chats")
          i(class="sidebaricon fa fa-comment fa-2x")
        a#opencontactdrawer(href="" class="icon" data-toggle="tooltip" data-placement="right" title="Contacts")
          i(class="sidebaricon fa fa-users fa-2x")
        a(href="/account" class="icon" data-toggle="tooltip" data-placement="right" title="Account")
          i(class="sidebaricon fa fa-cog fa-2x")
        a(href="/about" class="icon" data-toggle="tooltip" data-placement="right" title="About")
          i(class="sidebaricon fa fa-question-circle fa-2x")
        a(href="/logout" class="icon" data-toggle="tooltip" data-placement="right" title="Sign Out")
          i(class="sidebaricon fa fa-sign-out fa-2x")
    #chats
      div.top 
        i(class="add_chat fa fa-plus fa-2x")
        i#close_chats(class="fa fa-times fa-2x")
        h2 Chats
      if !chats || chats.length == 0
        div.bottom
          p You don't have any chats yet.
      else
        each val in chats
          a(href='/app/#{val._id}' class='chatlink')
            span.chat(id=val._id)
              each u in val.usernames
                if u != currentuser
                  p #{u}
    #contacts
      div.top 
        i#add_contact(class="fa fa-plus fa-2x")
        i#close_contacts(class="fa fa-times fa-2x")
        h2 Contacts
      if !contacts || contacts.length == 0
        div.bottom
          p You don't have any contacts yet.
      else
        each val in contacts
          a(href='/user/#{val}' class='chatlink')
            span.chat: p #{val}
    #main
      form#addchat(name="addchat", action="/addchat", method="POST")
        i(class="closebox fa fa-times fa-2x")
        input#chatusername(type="text", name="username", placeholder="username")
        textarea#chatmessage(name="message", rows="4", cols="50", placeholder="message")
        a#chsubmit(class="mybutton" href="") Send
      form#addcontact(name="addcontact", action="/addcontact", method="POST")
        i(class="closebox fa fa-times fa-2x")
        input#contactusername(type="text", name="username", placeholder="username")
        a#csubmit(class="mybutton" href="") Save
      if user
        h2 #{user.username}
        h3 about me
        if user.bio != "" && user.bio != undefined && user.bio != null
          p#biography #{user.bio}
        else
          p#biography I haven't written anything about myself yet! :(